
@{
    Layout = null;
    ViewBag.Title = "搜客宝-工商信息查询-公司企业注册信息查询-全国企业信用信息公示系统";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--样式表-->
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Css/ace-fonts.css" rel="stylesheet" />
    <link href="~/Css/ace.min.css" rel="stylesheet" id="main-ace-style" />
    <link href="~/Css/ace-part2.min.css" rel="stylesheet" />
    <link href="~/Css/ace-ie.min.css" rel="stylesheet" />
    <!--JS文件-->
    <script src="~/Js/ace-extra.min.js"></script>
    <script src="~/Js/html5shiv.min.js"></script>
    <script src="~/Js/respond.min.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            font-size: 14px;
            color: #555;
            -webkit-font-smoothing: antialiased;
        }
    </style>
</head>
<body class="login-layout blur-login">
    <div class="main-container">



    </div>
</body> 
</html >
        