@{
    Layout = null;
    ViewBag.Title = "搜客宝-工商信息查询-公司企业注册信息查询-全国企业信用信息公示系统";
    ViewBag.LoginName = ViewData["LoginName"];
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" id="main-ace-style" />
    <!--[if lte IE 9]-->
    <link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
    <!--[endif]-->
    <!--[if lte IE 9]-->
    <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
    <!--[endif]-->
    <script src="~/assets/js/ace-extra.min.js"></script>
    <!--[if lte IE 8]-->
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <!--[endif]-->
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/assets/js/ace-extra.min.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="login-layout" style="background-color: #394557;position:relative;">
    <div class="main-container">
        <div class="main-container">
            <div class="row" style="margin-top:10%;position:absolute;right: 20%;">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1 class="white">
                                搜客宝-
                                <span style="font-size:25px;">用户登录</span>
                            </h1>
                        </div>
                        <div class="space-6"></div>
                        <!-- 用户界面 -->
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main widget-main-common">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            用户登录
                                        </h4>
                                        <div class="space-6"></div>
                                        <form>
                                            <fieldset>
                                                <label class="clearfix form-loginEmail" style="display:none;">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="LoginEmail" class="form-control" placeholder="请输入邮箱" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>
                                                <label class="clearfix form-loginPhone" style="display:none;">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="LoginPhone" class="form-control" placeholder="请输入手机号" />
                                                        <i class="ace-icon fa fa-phone"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix form-loginName">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="LoginName" class="form-control" value="@ViewBag.LoginName" placeholder="请输入用户名" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix form-loginPwd">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="LoginPwd" class="form-control" placeholder="请输入密码" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <label class="clearfix form-confirmPwd" style="display:none;">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="ConfirmPwd" class="form-control" placeholder="请输入确认密码" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>
                                                <label class="clearfix form-code" style="display:block;">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control LoginCode" placeholder="请输入验证码" style="width:70%;float:left;" />
                                                        <img src="/User/GetCodeImg?id=0.111565465" class="CodeImg" style="height: 34px;width: 30%;" />
                                                    </span>
                                                </label>
                                                <label class="clearfix form-protocol" style="display:none">
                                                    <input type="checkbox" checked="checked" class="ace" />
                                                    <span class="lbl">
                                                        我接受
                                                        <a href="#">用户协议</a>
                                                    </span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    <label class="login-lasting width-35 pull-left" style="display:block;">
                                                        <input type="checkbox" class="ace rber-me" />
                                                        <span class="lbl">记住我</span>
                                                    </label>
                                                    <button type="reset" id="form-btn-reset" class="width-35 pull-left btn btn-sm" style="display:none;">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">重置</span>
                                                    </button>
                                                    <button type="button" id="form-btn-login" data-op="0" class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">登录</span>
                                                    </button>
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="toolbar clearfix">
                                        <div class="btn-forgetPwd">
                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                <i class="layui-icon">&#xe603;</i>
                                                忘记密码
                                            </a>
                                        </div>
                                        <div id="btn-common" data-op="0">
                                            <a href="#" class="user-signup-link">
                                                用户注册
                                                <i class="layui-icon">&#xe602;</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 忘记密码 -->
                        <div id="forgot-box" class="forgot-box widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="ace-icon fa fa-key"></i>
                                        重置密码
                                    </h4>
                                    <div class="space-6"></div>
                                    <p>
                                        输入您注册时候的详细资料，用以验证
                                    </p>
                                    <form>
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" id="VerifyEmail" class="form-control" placeholder="请输入邮箱" />
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" id="VerifyPhone" class="form-control" placeholder="请输入手机号" />
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" id="VerifyName" class="form-control" placeholder="请输入用户名" />
                                                </span>
                                            </label>
                                            <label class="clearfix form-code" style="display:block;">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" class="form-control verifyCode" placeholder="请输入验证码" style="width:70%;float:left;" />
                                                    <img src="/User/GetCodeImg?id=0.111565465" class="CodeImg" style="height: 34px;width: 30%;" />
                                                </span>
                                            </label>
                                            <div class="clearfix">
                                                <button type="button" id="btn-forgetPwd" class="width-35 pull-right btn btn-sm btn-danger">
                                                    <span class="bigger-110">确定</span>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="toolbar center">
                                    <a href="#" data-target="#login-box" class="back-to-login-link">
                                        返回
                                        <i class="layui-icon">&#xe602;</i>
                                    </a>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.forgot-box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var common_a = "", userFindId = "";
            //验证图片刷新
            $(".CodeImg").click(function () {
                $(".CodeImg").attr("src", "/User/GetCodeImg?id=" + Math.random());
            })
            //改变表单里的h5的特性和样式
            $(document).on("click", ".user-signup-link", function () {
                if ($("#btn-common").attr("data-op") == "0") {
                    $(".form-loginEmail").css({
                        "display": "block"
                    });
                    $(".form-loginPhone").css({
                        "display": "block"
                    });
                    $(".form-confirmPwd").css({
                        "display": "block"
                    });
                    $(".login-lasting").css({
                        "display": "none"
                    });
                    $("#form-btn-reset").css({
                        "display": "block"
                    });
                    $(".form-protocol").css({
                        "display": "block"
                    });
                    $(".widget-main-common>h4").html("");
                    $(".widget-main-common>h4").append("<i class='ace-icon fa fa-users blue'></i>新用户注册");
                    $("#form-btn-login").html("");
                    $("#form-btn-login").append("<span class='bigger-110'>注册</span>")
                    $("#form-btn-login").append("<i class='ace-icon fa fa-arrow-right icon-on-right'></i>");
                    $("#btn-common>a").text("");
                    $("#btn-common>a").append("返回登录<i class='layui-icon'>&#xe602;</i>");
                    $("#btn-common").attr("data-op", "1");
                    $("#form-btn-login").attr("data-op", "1");
                }
                else {
                    $(".form-loginEmail").css({
                        "display": "none"
                    });
                    $(".form-loginPhone").css({
                        "display": "none"
                    });
                    $(".form-confirmPwd").css({
                        "display": "none"
                    });
                    $(".login-lasting").css({
                        "display": "block"
                    });
                    $("#form-btn-reset").css({
                        "display": "none"
                    });
                    $(".form-protocol").css({
                        "display": "none"
                    });
                    $(".widget-main-common>h4").html("");
                    $(".widget-main-common>h4").append("<i class='ace-icon fa fa-coffee green'></i>用户登录");
                    $("#form-btn-login").html("");
                    $("#form-btn-login").append("<i class='ace-icon fa fa-key'></i>");
                    $("#form-btn-login").append("<span class='bigger-110'>登录</span>")
                    $("#btn-common>a").text("");
                    $("#btn-common>a").append("用户注册<i class='layui-icon'>&#xe602;</i>");
                    $("#btn-common").attr("data-op", "0");
                    $("#form-btn-login").attr("data-op", "0");
                }
            })
            //用户登录和新用户注册
            $(document).on("click", "#form-btn-login", function () {
                //用户登录验证
                layui.use(['layer'], function () {
                    var layer = layui.layer; 
                    var regexName = /^[\u4E00-\u9FA5A-Za-z0-9]{2,8}$/, regexPwd = /^[a-zA-Z]\w{5,18}$/,
                        regexEmail = /^([A-Za-z0-9_\-\.])+@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/,
                        regexPhone = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
                    var formlogin = { LoginName: $("#LoginName").val(), LoginPwd: $("#LoginPwd").val(), LoginCode: $(".LoginCode").val() },
                        formsignin = { LoginEmail: $("#LoginEmail").val(), LoginPhone: $("#LoginPhone").val(), LoginName: $("#LoginName").val(), LoginPwd: $("#LoginPwd").val(), ConfirmPwd: $("#ConfirmPwd").val(), LoginCode: $(".LoginCode").val() };
                    if ($("#form-btn-login").attr("data-op") == "0") {
                        //记住用户
                        if ($(".rber-me").get(0).checked) {
                            $.ajax({
                                url: "/User/LoginByRberUser/",
                                type: "post",
                                data: formlogin,
                                dataType: "json",
                                success: function (data) {
                                    if (data.success == 1) {    
                                        window.location.href = "/Home/HomePage";
                                    }
                                    else if (data.success == 2) {
                                        layer.msg("用户名或密码错误", { icon: 5, time: 2000, shade: 0.4 });
                                    }
                                    else if (data.success == 3) {
                                        layer.msg("验证码错误", { icon: 7, time: 2000, shade: 0.4 });
                                        $(".CodeImg").attr("src", "/User/GetCodeImg?id=" + Math.random());
                                    }
                                }
                            })
                        }
                        else if ($("#LoginName").val() != "" && $("#LoginPwd").val() != "") {
                            $.ajax({
                                url: "/User/Login/",
                                type: "post",
                                data: formlogin,
                                dataType: "json",
                                success: function (data) {
                                    if (data.success == 1) {
                                        window.location.href = "/Home/HomePage";
                                    }
                                    else if (data.success == 2) {
                                        layer.msg("用户名或密码错误", { icon: 5, time: 2000, shade: 0.4 });
                                    }
                                    else if (data.success == 3) {
                                        layer.msg("验证码错误", { icon: 7, time: 2000, shade: 0.4 });
                                        $(".CodeImg").attr("src", "/User/GetCodeImg?id=" + Math.random());
                                    }
                                }
                            })
                        }
                        else if ($("#LoginName").val() == "" && $("#LoginPwd").val() == "") {
                            layer.msg("请输入用户名和密码", { icon: 7, time: 2000, shade: 0.4 });
                            layer.close(index);    //返回数据关闭loading 
                        }
                    } else if ($("#form-btn-login").attr("data-op") == "1") {//新用户注册
                        //验证用户输入的信息是否正确
                        if (!regexEmail.test(formsignin.LoginEmail)) {
                            layer.msg("请输入正确的邮箱", { icon: 7, time: 2000, shade: 0.4 });
                            return;
                        }
                        if (!regexPhone.test(formsignin.LoginPhone)) {
                            layer.msg("请输入正确的手机号码", { icon: 7, time: 2000, shade: 0.4 });
                            return;
                        }
                        if (!regexName.test(formsignin.LoginName)) {
                            layer.msg("请输入2-8位中文或字母数字用户名", { icon: 7, time: 2000, shade: 0.4 });
                            return;
                        }
                        if (!regexPwd.test(formsignin.LoginPwd)) {
                            layer.msg("请输入以字母开头6-18位,允许字母数字下划线组合密码", { icon: 7, time: 2000, shade: 0.4 });
                            return;
                        }
                        if ($("#ConfirmPwd").val() == "") {
                            layer.msg("请输入确认密码", { icon: 7, time: 2000, shade: 0.4 });
                            return;
                        }
                        if ($("input[type='checkbox']").is(':checked') == false) {
                            layer.msg("您还未阅读协议", { icon: 7, time: 2000, shade: 0.4 });
                            return;
                        }
                        $.ajax({
                            url: "/User/InsertUser",
                            type: "post",
                            data: formsignin,
                            dataType: "json",
                            success: function (data) {
                                if (data.success == 1) {
                                    layer.msg("该用户名已存在", { icon: 5, time: 2000, shade: 0.4 });
                                }
                                else if (data.success == 2) {
                                    layer.msg("注册成功,赶紧去登录吧", { icon: 6, time: 3000, shade: 0.4 });
                                }
                                else if (data.success == 3) {
                                    layer.msg("注册失败", { icon: 5, time: 3000, shade: 0.4 });
                                }
                                else if (data.success == 4) {
                                    layer.msg("密码和确认密码不一致", { icon: 7, time: 2000, shade: 0.4 });
                                }
                                else if (data.success == 5) {
                                    layer.msg("验证码错误", { icon: 7, time: 2000, shade: 0.4 });
                                    $(".CodeImg").attr("src", "/User/GetCodeImg?id=" + Math.random());
                                }
                            }
                        })
                    }
                });
            })
            //验证用户资料
            $(document).on("click", "#btn-forgetPwd", function () {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    var regexEmail = /^([A-Za-z0-9_\-\.])+@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/,
                        regexPhone = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
                    var formverify = { verifyEmail: $("#VerifyEmail").val(), verifyPhone: $("#VerifyPhone").val(), verifyName: $("#VerifyName").val(), loginCode: $(".verifyCode").val() };
                    console.log(formverify);
                    //验证用户输入的信息是否正确
                    if (!regexEmail.test(formverify.verifyEmail)) {
                        layer.msg("请输入正确的邮箱", { icon: 7, time: 2000, shade: 0.4 });
                        return;
                    }
                    if (!regexPhone.test(formverify.verifyPhone)) {
                        layer.msg("请输入正确的手机号码", { icon: 7, time: 2000, shade: 0.4 });
                        return;
                    }
                    $.ajax({
                        url: "/User/VerifyUser",
                        type: "post",
                        data: formverify,
                        dataType: "json",
                        success: function (data) {
                            if (data.success == 1) {
                                userFindId = data.userId;
                                layer.open({
                                    type: 2,
                                    title: '重置密码',
                                    content: '/User/UserResetPwd?Id=' + userFindId,
                                    shadeClose:true,
                                    area: ['350px', '300px']
                                })
                            }
                            else if (data.success == 2) {
                                layer.msg("验证用户信息失败，请重新输入用户信息", { icon: 5, time: 3000, shade: 0.4 });
                            }
                            else if (data.success == 3) {
                                layer.msg("验证码错误", { icon: 7, time: 2000, shade: 0.4 });
                                $(".CodeImg").attr("src", "/User/GetCodeImg?id=" + Math.random());
                            }
                        }
                    })
                })
            })
        })
    </script>
    <!--[if !IE]-->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <!--[!endif]-->
    <!--[if !IE]-->
    <script type="text/javascript">
        if ('ontouchst' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <!--[!endif]-->
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');
                $(target).addClass('visible');
            });
        });
    </script>
</body>
</html>
