
@{
    Layout = null;
    ViewBag.Title = "搜客宝-工商信息查询-公司企业注册信息查询-全国企业信用信息公示系统";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/assets/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" id="main-ace-style" />
    <script src="~/assets/js/ace-extra.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap/js/bootstrap-table.min.js"></script> 
    <script src="~/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/bootstrap/js/bootstrap-table-export.js"></script>
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">

        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="/Home/HomePage" class="navbar-brand">
                    <small>
                        Logo
                    </small>
                </a>
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>      
                            
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-footer">
                                <a href="/Home/Inbox">
                                    查看全部消息
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/avatars/profile-pic.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                搜客宝!<br />
                                欢迎您
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    系统设置
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    个人信息设置
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    登出
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar responsive">

            <ul class="nav nav-list">
                <li class="active">
                    <a href="index.html">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> 首页面 </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/Home/Presscenter" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text"> 新闻中心 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Home/Presscenter">
                                <i class="menu-icon fa fa-caret-right"></i>   
                                行业快讯
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="active open">
                    <a href="/Company/CompanyInfo" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> 企业管理 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Company/CompanyInfo">
                                <i class="menu-icon fa fa-caret-right"></i>
                                企业信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="/Home/Textedit" class="dropdown-toggle">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text">  文件管理 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Home/Textedit">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文本编辑
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="dropzone.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文件上传
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="/Home/Calendar">
                        <i class="menu-icon fa fa-calendar"></i>
                        <span class="menu-text">
                            日历
                        </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-tag"></i>
                        <span class="menu-text"> 更多 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="profile.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                用户信息
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/User/Login">
                                <i class="menu-icon fa fa-caret-right"></i>
                                登录注册
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-file-o"></i>

                        <span class="menu-text">
                            其他
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="faq.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                帮助中心
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->


            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/HomePage">首页面</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">企业管理</a>
                    </li>
                    <li>
                        <a href="/Company/CompanyInfo">企业信息</a>
                    </li>
                </ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-content-area">
                    <div class="row">
                        <div class="col-xs-12" style="height:auto;">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="well well-sm">
                                <button type="button" class="close line-height-0" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times smaller-75"></i>
                                </button>
                                企业信息展示
                                <i class="fa fa-external-link bigger-110"></i>
                            </div>                   

                            <table id="tab" class="table table-hover"></table>                               
                            
                        </div>
                    </div>
                    
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        上海谷程网络科技有限公司 &copy; 2019
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script type="text/javascript">
        $('#tab').bootstrapTable({
            url: '/Json/data1.json',    //请求路径
            queryParams: "queryParams",
            toolbar: "#toolbar",
            sidePagination: "true",      //页码
            striped: true,               //显示行间隔色
            uniqueId: "CompanyId",       //默认主键列
            pagination: true,            //是否分页
            sortable: true,              //是否启用排序
            pageNumber: "1",             //初始化加载第几页
            pageSize: "10",              //单页记录数据
            pageList:[10,25,50,100],
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            minimumCountColumns: "2",
            showFooter: true,             //显示列脚
            showRefresh: true,            //刷新按钮
            showColumns: true,            //显示所有列
            showToggle: true,             //是否显示详细视图和列表视图的切换按钮
            cardView: false,               //显示详细视图
            //列数据编辑
            columns: [{
                title: '序号',
                field: 'CompanyId',
                align: 'center',
                valign: 'middle',
            },
            {
                title: '企业名称',
                field: 'CompanyName',
                align: 'center',
                valign: 'middle',
            },
            {
                title: '法定代表人',
                field: 'LegalRepresentative',
                align: 'center',
                valign: 'middle',
            },
            {
                title: '企业电话',
                field: 'CompanyPhone',
                align: 'center',
                valign: 'middle',
            }, {
                title: '企业邮箱',
                field: 'CompanyEmail',
                align: 'center',
                valign: 'middle',
            }, {
                title: '企业网址',
                field: 'CompanyUrl',
                align: 'center',
                valign: 'middle',
            }, {
                title: '企业简介',
                field: 'CompanyProfile',
                align: 'center',
                valign: 'middle',
            }, {
                title: '操作',
                field: 'CompanyId',
                width: 120,
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            }]
        });

        function actionFormatter(value, row, index) {
            var id = value;
            var result = "";
            result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"EditViewById('" + id + "',view='view')\"title='查看'><span class='glyphicon glyphicon-search'></span></a>";
            result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "')\"title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
            result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + id + "')\"title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
            return result;
        }


            //------------->生成Excel表
            //创建工作薄
            var workbook1 = new HSSFWorkbook();
            //创建表
            var table = workbook.CreateSheet("joye.net");

            //模拟20行20列数据
            for (var i = 0; i < 20; i++)
            {
                var row = table.CreateRow(i);
                for (int j = 0; j < 20; j++)
                {
                    var cell = row.CreateCell(j);
                    cell.SetCellValue(j);
                }
            }
            //打开xls文件，如没有则创建，如存在则在创建是不要打开该文件
            using (var fs = File.OpenWrite(@"c:/joye.net.xls"))
            {
                workbook.Write(fs);   //向打开的这个xls文件中写入mySheet表并保存。
                Console.WriteLine("生成成功");
            }

                //导出文件路径
                using(var fs = File.OpenRead(@"E:/ExcelDerive/Sheet.xls")){


                }



    </script>

</body>
</html>
