@{
    Layout = null;
    ViewBag.Title = "搜客宝-工商信息查询-公司企业注册信息查询-全国企业信用信息公示系统";
    ViewBag.CompanyId = ViewData["companyId"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/layui.mobile.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace-skins.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace-rtl.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="/Home/HomePage" class="navbar-brand">
                    <small>
                        Logo
                    </small>
                </a>
            </div>
            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        </a>
                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                暂无消息
                            </li>
                            <li class="dropdown-footer">
                                <a href="/Home/Inbox">
                                    查看全部消息
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/avatars/profile-pic.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                欢迎您!<br />
                                @HttpContext.Current.User.Identity.Name
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="">
                                    <i class="ace-icon fa fa-user"></i>
                                    个人信息设置
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/Home/LogOff">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>
            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>
    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar responsive">
            <ul class="nav nav-list">
                <li class="active">
                    <a href="/Home/HomePage">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> 首页面 </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="/Home/Presscenter" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text"> 新闻中心 </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="active">
                            <a href="/Home/Presscenter">
                                <i class="menu-icon fa fa-caret-right"></i>
                                行业快讯
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> 企业管理 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="/Company/CompanyInfo">
                                <i class="menu-icon fa fa-caret-right"></i>
                                企业信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Trademark/TrademarkShow">
                                <i class="menu-icon fa fa-caret-right"></i>
                                商标信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Copyright/CopyrightWorksShow">
                                <i class="menu-icon fa fa-caret-right"></i>
                                作品信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text"> 文件管理 </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="/Home/Textedit">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文本编辑
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="dropzone.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文件上传
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/Home/Calendar">
                        <i class="menu-icon fa fa-calendar"></i>
                        <span class="menu-text">
                            日历
                        </span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-tag"></i>
                        <span class="menu-text"> 更多 </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="profile.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                用户信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="timeline.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                时间轴
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/User/Login">
                                <i class="menu-icon fa fa-caret-right"></i>
                                登录注册
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-file-o"></i>
                        <span class="menu-text">
                            其他
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="faq.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                帮助中心
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>
        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/HomePage">首页面</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">企业管理</a>
                    </li>
                    <li>
                        <a href="/Trademark/TrademarkShow">企业详情</a>
                    </li>
                </ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <!-- /section:settings.box -->
                <div class="page-content-area">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-header">
                                        企业详情
                                    </div>
                                    <div class="company-initial" lay-filter="company-initial">
                                        <!-- 企业详情内容 -->
                                        <div class="panel panel-default col-xs-12 col-sm-12 col-md-12" style="margin:0;padding:0;">
                                            <div class="panel-heading">企业信息</div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">企业名称</div>
                                            <div class="panel-body" id="CompanyName">

                                            </div>
                                            <div class="panel-heading">法定代表人</div>
                                            <div class="panel-body" id="LegalRepresentative">

                                            </div>
                                            <div class="panel-heading">企业类型</div>
                                            <div class="panel-body" id="CompanyType">

                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">企业电话</div>
                                            <div class="panel-body">
                                                <span id="CompanyPhone"></span>
                                                <a href="#">查看详情</a>
                                            </div>
                                            <div class="panel-heading">企业邮箱</div>
                                            <div class="panel-body">
                                                <span id="CompanyEmail"></span>
                                                <a href="#">查看详情</a>
                                            </div>
                                            <div class="panel-heading">企业官网</div>
                                            <div class="panel-body">
                                                <a href="#" id="CompanyUrl"></a>
                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">企业地址</div>
                                            <div class="panel-body" id="BusinessAddress">

                                            </div>
                                            <div class="panel-heading">企业简介</div>
                                            <div class="panel-body" id="CompanyProfile">

                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-12 col-sm-12 col-md-12" style="margin:0;padding:0;">
                                            <div class="panel-heading">工商信息</div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">注册资本</div>
                                            <div class="panel-body" id="RegisteredCapital">

                                            </div>
                                            <div class="panel-heading">实邀资本</div>
                                            <div class="panel-body" id="RealinviteCapital">

                                            </div>
                                            <div class="panel-heading">经营状态</div>
                                            <div class="panel-body" id="Management">

                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">成立时间</div>
                                            <div class="panel-body" id="RegisteredTime">
                                            </div>
                                            <div class="panel-heading">统一社会信用代码</div>
                                            <div class="panel-body" id="CreditCode">
                                            </div>
                                            <div class="panel-heading">纳税人识别号</div>
                                            <div class="panel-body" id="Taxpayer">
                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">营业期限</div>
                                            <div class="panel-body" id="BusnissTerm">
                                            </div>
                                            <div class="panel-heading">注册号</div>
                                            <div class="panel-body" id="RegistrationNumber">
                                            </div>
                                            <div class="panel-heading">组织机构代码</div>
                                            <div class="panel-body" id="OrganizingCode">
                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">核准日期</div>
                                            <div class="panel-body" id="ApprovalDate">

                                            </div>
                                            <div class="panel-heading">登记机关</div>
                                            <div class="panel-body" id="RegistrationAuthority">

                                            </div>
                                            <div class="panel-heading">所属地区</div>
                                            <div class="panel-body" id="BelongArea">

                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">英文名</div>
                                            <div class="panel-body" id="EnglishName">
                                            </div>
                                            <div class="panel-heading">曾用名</div>
                                            <div class="panel-body" id="FormerName">
                                            </div>
                                            <div class="panel-heading">参保人数</div>
                                            <div class="panel-body" id="ContributorsIn">
                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-4 col-sm-4 col-md-4">
                                            <div class="panel-heading">人员规模</div>
                                            <div class="panel-body" id="StaffSize">
                                            </div>
                                            <div class="panel-heading">所属行业</div>
                                            <div class="panel-body" id="IndustryInvolved">
                                            </div>
                                        </div>
                                        <div class="panel panel-default col-xs-12 col-sm-12 col-md-12">
                                            <div class="panel-heading">经营范围</div>
                                            <div class="panel-body" id="BusinessScope">
                                            </div>
                                        </div>
                                        <!-- 企业详情内容 -->
                                    </div>
                                    <div class="table-responsive">
                                        <table id="trademark-table" lay-filter="test" class="table table-striped table-bordered table-hover" data-toggle="table" data-url="data1.json"></table>
                                        <div id="layui-paging"></div>
                                        <div class="modal-footer no-margin-top">
                                            <ul class="pagination pull-right no-margin">
                                                <li class="prev disabled">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="modal-table" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                客票行李规定
                                            </div>
                                        </div>

                                        <div class="modal-body no-padding">
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <thead>
                                                    <tr>
                                                        <th>航班类型</th>
                                                        <th>客舱级别</th>
                                                        <th>行李数量上限</th>

                                                        <th>
                                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                            每件重量上限
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="modal-footer no-margin-top">
                                            <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                                <i class="ace-icon fa fa-times"></i>
                                                关闭
                                            </button>

                                            <ul class="pagination pull-right no-margin">
                                                <li class="prev disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li class="next">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        上海谷程网络科技有限公司 &copy; 2019
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/layui/layui.all.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script>
        //将时间戳转换为日期时间
        function fmtDate(obj) {
            var dateVal = obj + "";
            if (obj != null) {
                var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                return date.getFullYear() + "-" + month + "-" + currentDate;
                //+ " " + hours + ":" + minutes + ":" + seconds
            }
        }
    </script>
    <script>
        $(function () {
            layui.use(['table', 'layer'], function () {
                var index = layer.load(1); //添加laoding,0-2两种方式
                //表单初始赋值
                $.ajax({
                    url: '/Company/GetCompanyAndBusiness?id='+@ViewBag.CompanyId,
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        $("#CompanyName").text(data.CompanyName == "" ? "-" : data.CompanyName);
                        $("#LegalRepresentative").text(data.LegalRepresentative == "" ? "-" : data.LegalRepresentative);
                        $("#CompanyPhone").text(data.CompanyPhone.substring(0, 3)+"********");
                        $("#CompanyEmail").text(data.CompanyEmail.substr(0, 3)+"*******"+data.CompanyEmail.substr(10,17));
                        $("#CompanyUrl").text(data.CompanyUrl == "" ? "-" : data.CompanyUrl);
                        $("#CompanyUrl").attr('href', ''+data.CompanyUrl);
                        $("#CompanyType").text(data.CompanyType == "" ? "-" : data.CompanyType);
                        $("#CompanyProfile").text(data.CompanyProfile == "" ? "-" : data.CompanyProfile);
                        $("#RegisteredCapital").text(data.RegisteredCapital == "" ? "-" : data.RegisteredCapital);
                        $("#RealinviteCapital").text(data.RealinviteCapital == "" ? "-" : data.RealinviteCapital);
                        $("#Management").text(data.Management == "" ? "-" : data.Management);
                        $("#RegisteredTime").text(fmtDate(data.RegisteredTime) == "1900-01-01" ? "-" : fmtDate(data.RegisteredTime));
                        $("#CreditCode").text(data.CreditCode == "" ? "-" : data.CreditCode);
                        $("#Taxpayer").text(data.Taxpayer == "" ? "-" : data.Taxpayer);
                        $("#IndustryInvolved").text(data.IndustryInvolved == "" ? "-" : data.IndustryInvolved);
                        $("#RegistrationNumber").text(data.RegistrationNumber == "" ? "-" : data.RegistrationNumber);
                        $("#OrganizingCode").text(data.OrganizingCode == "" ? "-" : data.OrganizingCode);
                        $("#ApprovalDate").text(fmtDate(data.ApprovalDate) == "1900-01-01" ? "-" : fmtDate(data.ApprovalDate));
                        $("#RegistrationAuthority").text(data.RegistrationAuthority == "" ? "-" : data.RegistrationAuthority);
                        $("#BelongArea").text(data.BelongArea == "" ? "-" : data.BelongArea);
                        $("#EnglishName").text(data.EnglishName == "" ? "-" : data.EnglishName);
                        $("#FormerName").text(data.FormerName == "" ? "-" : data.FormerName);
                        $("#ContributorsIn").text(data.ContributorsIn == "" ? '-' : data.ContributorsIn);
                        $("#StaffSize").text(data.StaffSize == "" ? "-" : data.StaffSize);
                        $("#BusnissTerm").text(data.BusnissTerm == "" ? '-' : data.BusnissTerm);
                        $("#BusinessAddress").text(data.BusinessAddress == "" ? "-" : data.BusinessAddress);
                        $("#BusinessScope").text(data.BusinessScope == "" ? "-" : data.BusinessScope);
                        layer.close(index);    //返回数据关闭loading
                    }
                })
            });
        })
    </script>
</body>
</html>
