
@{
    Layout = null;
    ViewBag.Title = "搜客宝-工商信息查询-公司企业注册信息查询-全国企业信用信息公示系统";
    ViewBag.CompanyId = ViewData["companyId"];
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/layui/css/layui.css" rel="stylesheet"/>
    <link href="~/layui/css/layui.mobile.css" rel="stylesheet"/>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/assets/css/ace.min.css" rel="stylesheet"/>
    <link href="~/assets/css/ace-skins.min.css" rel="stylesheet"/>
    <link href="~/assets/css/ace-rtl.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
                
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="/Home/HomePage" class="navbar-brand">
                    <small>
                        Logo
                    </small>
                </a>
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                暂无消息
                            </li>

                            <li class="dropdown-footer">
                                <a href="/Home/Inbox">
                                    查看全部消息
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/avatars/profile-pic.jpg" alt="Jason's Photo" />
                            <span class="user-info">                          
                                欢迎您<br/>
                                @HttpContext.Current.User.Identity.Name
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="/User/PersonalDetails">
                                    <i class="ace-icon fa fa-user"></i>
                                    个人信息设置
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="/User/LogOff">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>
            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar responsive">
            <ul class="nav nav-list">
                <li class="active">
                    <a href="/Home/HomePage">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> 首页面 </span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/Home/Presscenter" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text"> 新闻中心 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Home/Presscenter">
                                <i class="menu-icon fa fa-caret-right"></i>   
                                行业快讯
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="active open">
                    <a href="/Company/CompanyInfo" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> 企业管理 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Company/CompanyInfo">
                                <i class="menu-icon fa fa-caret-right"></i>
                                企业信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Trademark/TrademarkShow">
                                <i class="menu-icon fa fa-caret-right"></i>
                                商标信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Copyright/CopyrightWorksShow">
                                <i class="menu-icon fa fa-caret-right"></i>
                                版权信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Shareholder/ShareholderShow">
                                <i class="menu-icon fa fa-caret-right"></i>
                                股东信息
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="/Home/Textedit" class="dropdown-toggle">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text">  文件管理 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Home/Textedit">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文本编辑
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="dropzone.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文件上传
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/Home/Calendar">
                        <i class="menu-icon fa fa-calendar"></i>
                        <span class="menu-text">
                            日历
                        </span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-tag"></i>
                        <span class="menu-text"> 更多 </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/User/PersonalDetails">
                                <i class="menu-icon fa fa-caret-right"></i>
                                用户信息
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/User/Login">
                                <i class="menu-icon fa fa-caret-right"></i>
                                登录注册
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-file-o"></i>

                        <span class="menu-text">
                            其他
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Home/Inbox">
                                <i class="menu-icon fa fa-caret-right"></i>
                                帮助中心
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/HomePage">首页面</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">企业管理</a>
                    </li>
                    <li>
                        <a href="/Company/CompanyInfo">企业信息</a>
                    </li>
                </ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-content-area">
                    <div class="row">
                        <div class="col-xs-12" style="height:auto;">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="well well-sm">
                                <button type="button" class="close line-height-0" data-dismiss="alert">
                                    <i class="ace-icon fa fa-times smaller-75"></i>
                                </button>
                                企业信息展示
                                <i class="fa fa-external-link bigger-110"></i>
                            </div>                                       
                            <table width="100%" class="CSSearchTbl" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="left">企业名称：</td>
                                    <td class="right"><input type="text" id="where-companyName" size="16"/></td>
                                    <td class="right">
                                        <a href="/Company/CompanyDown" class="btn btn-default">导出</a>
                                    </td>
                                    <td class="right" colspan="2">
                                        <button id="company-where-btn" class="btn btn-primary pull-left col-sm-12 tbl-search" data-dismiss="model" >
                                            开始搜索
                                            <i class="ace-icon fa fa-search"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <div class="table-responsive">
                                <table id="company-table" lay-filter="test" class="table table-striped table-bordered table-hover" data-toggle="table" data-url="data1.json"></table>
                                <div id="layui-paging"></div>
                                <div class="model-footer no-margin-top">
                                    <ul class="pagination pull-right no-margin">
                                        <li class="prev disabled">
                                            <div id="layui-paging"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                                                                         
                        </div>
                    </div>
                    
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        上海谷程网络科技有限公司 &copy; 2019
                        <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=Q3F2d3B1c3N3cHIDMjJtICwu" style="text-decoration:none;color:#FF5722;">联系我们</a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>

    <script>
         $(function () {
             //导航栏
             layui.use('element', function () {
                 var element = layui.element;
             });
             //导航栏
             var limitcount = 10;
             var curnum = 1;
             //加载table组件
             function productsearch(start, limit) {
                 layui.use(['table', 'laypage'], function () {
                     var table = layui.table,
                         laypage = layui.laypage;
                     var index = layer.load(2); //添加laoding,0-2两种方式
                    
                     table.render({
                         elem: '#tab'
                         , url: '/Company/CompanyInfoList?index=' + curnum + "&&limit=" + limitcount//数据接口
                         , id: 'company'
                         , loading: true
                         , defaultToolbar: ['filter', 'print', 'exports']
                         , cols: [[
                             { field: 'NumberId', title: '序号', width: 80, sort: true, fixed: 'left', unresize: true }
                             , { field: 'CompanyName', title: '企业名称', width: 260, unresize: true, templet: '#titleTpl2' }
                             , { field: 'LegalRepresentative', title: '法定代表人', width: 120, unresize: true, templet: '#titleTpl1' }
                             , { field: 'CompanyPhone', title: '企业电话', width: 150, unresize: true, templet: '#titleTpl3' }
                             , { field: 'CompanyEmail', title: '企业邮箱', width: 150, unresize: true }
                             , { field: 'CompanyUrl', title: '企业网址', width: 200 }
                             , { field: 'CompanyProfile', title: '企业简介', width: 240 }
                         ]]
                         , page: false
                         , done: function (res) {
                             laypage.render({
                                 elem: 'layui-paging',
                                 count: res.tatol,
                                 curr: curnum,
                                 limit: limitcount,
                                 layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'],
                                 jump: function (obj, first) {
                                     if (!first) {
                                         curnum = obj.curr;
                                         limitcount = obj.limit;
                                         productsearch(curnum, limitcount);
                                     }
                                     layer.close(index);    //返回数据关闭loading
                                 }
                             });
                         }
                     });
                     //企业名称查询操作
                     $('#company-where-btn').click(function () {
                         table.reload('company', {
                             where: { //设定异步数据接口的额外参数，任意设
                                 companyName: $('#where-companyName').val(),
                             },
                             page: false
                             , done: function (res) {
                                 laypage.render({
                                     elem: 'layui-paging',
                                     count: res.tatol,
                                     curr: curnum,
                                     limit: limitcount,
                                     layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'],
                                     jump: function (obj, first) {
                                         if (!first) {
                                             curnum = obj.curr;
                                             console.log(curnum);
                                             limitcount = obj.limit;
                                             productsearch(curnum, limitcount);
                                         }
                                         layer.close(index);    //返回数据关闭loading
                                     }
                                 });
                             }
                         });
                     })
                     //添加用户页面
                     //layui.use('layer', function () {
                     //    var layer = layui.layer;
                     //    $('#addCustomer-btn').click(function () {
                     //        layer.open({
                     //            type: 2,
                     //            title: '添加客户',
                     //            content: '/Customer/CustomerAddPage/',
                     //            area: ['700px', '450px']
                     //        })
                     //    })
                     //})
                     //监听工具条
                     //table.on('tool(test)', function (obj) {
                     //    var data = obj.data;
                     //    var layEvent = obj.event;
                     //    var tr = obj.tr;
                     //    if (layEvent == 'edit') {
                     //        layer.open({
                     //            type: 2,
                     //            title: '编辑客户',
                     //            content: '/Customer/CustomerEditPage?Id=' + data.Id,
                     //            area: ['700px', '450px']
                     //        })
                     //    }
                     //    if (layEvent == 'del') {
                     //        layer.confirm('真的删除行么', function (index) {
                     //            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                     //            layer.close(index);
                     //            //向服务端发送删除指令
                     //            layui.$.post(
                     //                '/Customer/DeleteCustomer?Id=' + data.Id,
                     //                { id: data.Id },
                     //                function (data, status) {
                     //                    if (data.msg == 'ok') {
                     //                        layer.msg('删除成功!');
                     //                    }
                     //                    //else {
                     //                    //    layer.msg('出现未知错误!');
                     //                    //}
                     //                }
                     //            )
                     //        });
                     //    }
                     //});
                 });
             }
             productsearch(curnum, limitcount);
         })
    </script>
    @*<script type="text/html" id="titleTpl1">
        {{fmtDate(d.ApplyTime)}}
    </script>
    <script type="text/html" id="titleTpl2">
        <div>
            <a href="/Company/CompanyShow?id={{d.CompanyId}}">{{d.CompanyName}}</a>
        </div>
    </script>
    <script type="text/html" id="titleTpl3">
        <div>
            <img src="../images/sokingIcon/{{d.TrademarkName}}" style="width:100%;height:100%;" />
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>*@
</body>
</html>
