@{
    Layout = null;
    ViewBag.Title = "搜客宝-工商信息查询-公司企业注册信息查询-全国企业信用信息公示系统";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layui/css/layui.mobile.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace-skins.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace-rtl.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">

        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="/Home/HomePage" class="navbar-brand">
                    <small>
                        Logo
                    </small>
                </a>
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                暂无消息
                            </li>

                            <li class="dropdown-footer">
                                <a href="/Home/Inbox">
                                    查看全部消息
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/avatars/profile-pic.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                欢迎您!<br />
                                @HttpContext.Current.User.Identity.Name
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                            <li>
                                <a href="">
                                    <i class="ace-icon fa fa-user"></i>
                                    个人信息设置
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="/Home/LogOff">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出登录
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar responsive">
            <ul class="nav nav-list">
                <li class="active">
                    <a href="/Home/HomePage">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> 首页面 </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/Home/Presscenter" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text"> 新闻中心 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="active">
                            <a href="/Home/Presscenter">
                                <i class="menu-icon fa fa-caret-right"></i>
                                行业快讯
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> 企业管理 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="jqgrid.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                企业信息
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Trademark/TrademarkShow">
                                <i class="menu-icon fa fa-caret-right"></i>
                                商标信息
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/Copyright/CopyrightWorksShow">
                                <i class="menu-icon fa fa-caret-right"></i>
                                作品信息
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text"> 文件管理 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="">
                            <a href="/Home/Textedit">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文本编辑
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="dropzone.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                文件上传
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="/Home/Calendar">
                        <i class="menu-icon fa fa-calendar"></i>

                        <span class="menu-text">
                            日历
                        </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-tag"></i>
                        <span class="menu-text"> 更多 </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="profile.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                用户信息
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="timeline.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                时间轴
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="login.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                登录注册
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-file-o"></i>

                        <span class="menu-text">
                            其他
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="faq.html">
                                <i class="menu-icon fa fa-caret-right"></i>
                                帮助中心
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/HomePage">首页面</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">企业管理</a>
                    </li>
                    <li>
                        <a href="/Trademark/TrademarkShow">商标信息</a>
                    </li>
                </ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>


            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                <!-- /section:settings.box -->
                <div class="page-content-area">

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="table-header">
                                        商标管理
                                    </div>

                                    <table width="100%" class="CSSearchTbl" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="left">企业名称：</td>
                                            <td class="right"><input type="text" id="where-companyName" size="16" /></td>
                                            <td class="left">商品名称：</td>
                                            <td class="right"><input type="text" id="where-commodityName" size="16" /></td>
                                            <td class="left">申请日期范围：</td>
                                            <td class="right"><input type="text" id="where-applyTime-begin" size="16" placeholder="yyyy-mm-dd" class="datePicker" /> 至 <input type="text" id="where-applyTime-over" placeholder="yyyy-mm-dd" size="16" class="datePicker" /></td>
                                            <td class="right" colspan="2">
                                                <button id="trademark-where-btn" class="btn btn-primary pull-left col-sm-12 tbl-search" data-dismiss="modal">
                                                    开始搜索
                                                    <i class="ace-icon fa fa-search"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="table-responsive">
                                        <table id="trademark-table" lay-filter="test" class="table table-striped table-bordered table-hover" data-toggle="table" data-url="data1.json">
                                        </table>
                                        <div id="layui-paging"></div>
                                        <div class="modal-footer no-margin-top">
                                            <ul class="pagination pull-right no-margin">
                                                <li class="prev disabled">
                                                    <div id="layui-paging"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="modal-table" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                客票行李规定
                                            </div>
                                        </div>

                                        <div class="modal-body no-padding">
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <thead>
                                                    <tr>
                                                        <th>航班类型</th>
                                                        <th>客舱级别</th>
                                                        <th>行李数量上限</th>

                                                        <th>
                                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                            每件重量上限
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#">国内航班</a>
                                                        </td>
                                                        <td>头等舱</td>
                                                        <td>2件</td>
                                                        <td>5千克</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="modal-footer no-margin-top">
                                            <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                                <i class="ace-icon fa fa-times"></i>
                                                关闭
                                            </button>

                                            <ul class="pagination pull-right no-margin">
                                                <li class="prev disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li class="next">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        上海谷程网络科技有限公司 &copy; 2019
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/layui/layui.all.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script>
        //将时间戳转换为日期时间
        function fmtDate(obj) {
            var dateVal = obj + "";
            if (obj != null) {
                var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                return date.getFullYear() + "-" + month + "-" + currentDate;
                //+ " " + hours + ":" + minutes + ":" + seconds
            }
        }
    </script>
    <script>
        $(function () {
            //导航栏
            layui.use('element', function () {
                var element = layui.element;
            });
            //导航栏
            var limitcount = 10;
            var curnum = 1;
            //加载table组件
            function productsearch(start, limit) {
                layui.use(['table', 'laypage'], function () {
                    var table = layui.table,
                        laypage = layui.laypage;
                    //第一个实例
                    table.render({
                        elem: '#trademark-table'
                        , url: '/Trademark/TrademarkListShow?index=' + curnum + "&&limit=" + limitcount//数据接口
                        , id: 'trademark'
                        , defaultToolbar: ['filter', 'print', 'exports']
                        , cols: [[
                            { field: 'NumberId', title: '序号', width: 80, sort: true, fixed: 'left', unresize: true }
                            , { field: 'CompanyName', title: '企业名称', width: 260, unresize: true, templet: '#titleTpl2'}
                            , { field: 'ApplyTime', title: '申请日期', width: 120, unresize: true, templet: '#titleTpl1' }
                            , { field: 'TrademarkName', title: '商标', width: 80, unresize: true, templet: '#titleTpl3' }
                            , { field: 'CommodityName', title: '商标名称', width: 150, unresize: true }
                            , { field: 'Registration', title: '注册号', width: 200 }
                            , { field: 'Category', title: '类别', width: 240 }
                            , { field: 'ProcessState', title: '流程状态', width: 240, unresize: true }
                            , { field: 'Right', title: '操作', width: 120, toolbar: '#barDemo' }
                        ]]
                        , page: false
                        , done: function (res) {
                            laypage.render({
                                elem: 'layui-paging',
                                count: res.tatol,
                                curr: curnum,
                                limit: limitcount,
                                layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'],
                                jump: function (obj, first) {
                                    if (!first) {
                                        curnum = obj.curr;
                                        limitcount = obj.limit;
                                        productsearch(curnum, limitcount);
                                    }
                                }
                            });
                        }
                    });
                    //查询客户
                    $('#trademark-where-btn').click(function () {
                        table.reload('trademark', {
                            where: { //设定异步数据接口的额外参数，任意设
                                companyName: $('#where-companyName').val(),
                                applyTimeBegin: $('#where-applyTime-begin').val(),
                                applyTimeOver: $('#where-applyTime-over').val(),
                                commodityName: $('#where-commodityName').val(),
                            },
                            page: false
                            , done: function (res) {
                                laypage.render({
                                    elem: 'layui-paging',
                                    count: res.tatol,
                                    curr: curnum,
                                    limit: limitcount,
                                    layout: ['prev', 'page', 'next', 'skip', 'count', 'limit'],
                                    jump: function (obj, first) {
                                        if (!first) {
                                            curnum = obj.curr;
                                            limitcount = obj.limit;
                                            productsearch(curnum, limitcount);
                                        }
                                    }
                                });
                            }
                        });
                    })
                    //添加用户页面
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        $('#addCustomer-btn').click(function () {
                            layer.open({
                                type: 2,
                                title: '添加客户',
                                content: '/Customer/CustomerAddPage/',
                                area: ['700px', '450px']
                            })
                        })
                    })
                    //监听工具条
                    table.on('tool(test)', function (obj) {
                        var data = obj.data;
                        var layEvent = obj.event;
                        var tr = obj.tr;
                        if (layEvent == 'edit') {
                            layer.open({
                                type: 2,
                                title: '编辑客户',
                                content: '/Customer/CustomerEditPage?Id=' + data.Id,
                                area: ['700px', '450px']
                            })
                        }
                        if (layEvent == 'del') {
                            layer.confirm('真的删除行么', function (index) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                //向服务端发送删除指令
                                layui.$.post(
                                    '/Customer/DeleteCustomer?Id=' + data.Id,
                                    { id: data.Id },
                                    function (data, status) {
                                        if (data.msg == 'ok') {
                                            layer.msg('删除成功!');
                                        }
                                        //else {
                                        //    layer.msg('出现未知错误!');
                                        //}
                                    }
                                )
                            });
                        }
                    });
                });
            }
            productsearch(curnum, limitcount);
        })
    </script>
    <script type="text/html" id="titleTpl1">
        {{fmtDate(d.ApplyTime)}}
    </script>
    <script type="text/html" id="titleTpl2">
        <div>
            <a href="/Company/CompanyShow?id={{d.CompanyId}}">{{d.CompanyName}}</a>
        </div>
    </script>
    <script type="text/html" id="titleTpl3">
        <div>
            <img src="../images/sokingIcon/{{d.TrademarkName}}" style="width:100%;height:100%;" />
        </div>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</body>
</html>
